body{
    margin: 0;
}
.panels{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-size: cover;
    flex-direction: column;
    background-position: center;
    transition: 
        font-size 1s cubic-bezier(0.78, 0.13, 0.37, 1.6),
        flex 1s ease;
}
.panel p{
   margin: 0;
   text-transform: uppercase;
   justify-content: center;
   align-items: center;
   display: flex;
   flex: 1 ;
   transition: transform 0.5s;
   color: black;
   font-weight: 700;
   text-align: center;
   font-size: 25px;
}
.panel1{
    background-image: url('./Images/spring.jpg');
}
.panel2{
    background-image: url('./Images/summer.jpg');
}
.panel3{
    background-image: url('./Images/autumn.jpg');
}
.panel4{
    background-image: url('./Images/rainy.jpg');
}
.panel5{
    background-image: url('./Images/winter.jpg');
}

.panel.open{
    flex: 5;
    font-size: 35px;
}

.panel > *:first-child { transform: translateY(-100%)}
.panel > *:last-child { transform: translateY(100%)}
.panel.open-active > *:first-child { transform: translateY(0)}
.panel.open-active > *:last-child { transform: translateY(0)}


