.keys{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.key{
    width: 100px;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    transition: all 0.07s;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 50px;
}
.sound{
    font-size: 20px;
    color: #ffc600;
}

